{% extends 'base.html' %}
{% block title %}Deposit Form{% endblock %}

{% block content %}
<div class="register-w3 py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-bl font-weight-bold">Deposit Form</h3>
        <p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">Deposit money to your account.</p>
        <div class="comment-top mt-5">
            <div class="comment-bottom mobamuinfo_mail_grid_right">
                <form method="post" action="{% url 'transaction:deposit' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="{{ form.amount.id_for_label }}">Amount</label>
                            <input 
                            type="number" 
                            class="w-100 p-2" 
                            style="border: 1px solid rgb(197, 197, 197); height: 46px;"
                            name="amount"
                            id="{{ form.amount.id_for_label }}"
                            >
                        </div>
                    </div>
                    <button type="submit" class="btn submit mt-3">Deposit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}