{% extends 'base.html' %}
{% load static %}
{% block title %}BookYourStay{% endblock %}

{% block slider %}

    <div class="banner_w3lspvt">
        <div class="csslider infinity" id="slider1">
            <input type="radio" name="slides" checked="checked" id="slides_1" />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <input type="radio" name="slides" id="slides_4" />
            <ul class="banner_slide_bg">
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt">
                            <p>Welcome to BookYourStay</p>
                            <h3 class="w3ls_pvt-title text-wh text-uppercase let">Hotel & Room Booking</h3>
                            <a href="" class="btn button-style mt-sm-5 mt-4">Read More</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt">
                            <p>Welcome to BookYourStay</p>
                            <h3 class="w3ls_pvt-title text-wh text-uppercase let">Enjoy Your Moments</h3>
                            <a href="" class="btn button-style mt-sm-5 mt-4">Read More</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt">
                            <p>Welcome to BookYourStay</p>
                            <h3 class="w3ls_pvt-title text-wh text-uppercase let">Modern & Spacious Rooms</h3>
                            <a href="" class="btn button-style mt-sm-5 mt-4">Read More</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt">
                            <p>Welcome to BookYourStay</p>
                            <h3 class="w3ls_pvt-title text-wh text-uppercase let">In the Perfect Location</h3>
                            <a href="" class="btn button-style mt-sm-5 mt-4">Read More</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="arrows">
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="banner-bottom py-5">
    <div class="d-md-flex container py-xl-3 py-lg-3">
        <div class="banner-left-bottom-w3ls">
            <h6 class="text-wh let">Easiest way to book Hotels and Rooms</h6>
            <h3 class="text-wh my-3">Welcome to BookYourStay</h3>
            <p>Enjoy Your Every Day and Night when you outside of your home.<br></p>
        </div>
        <div class="button offset-lg-2 offset-md-1">
            <a href="" class="btn w3ls-button-mobamu">Read More</a>
        </div>
    </div>
</div>

<!-- about -->
<div id="about-section">
    {% include 'about.html' %}
</div>


<div class="rooms-w3ls bg-li py-5" id="price" style="background-color: #443937;">
    <div class="container-fluid py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-bl font-weight-bold" style="color: white;">Available Hotels</h3>
        <p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">Welcome to the epitome of comfort and luxury – Palace for Stay, where each space tells a unique story of elegance and relaxation.</p>

        <div class="row">
            {% for hotel in hotels %}
                <div class="col-lg-4 mb-4">
                    <div class="price-mobamus mx-2" style="height: 680px; background-color: #b5d1de; border-radius: 5px;">
                        <div class="price-top">
                            <a href="{% url 'hotel:hotel_detail' slug=hotel.slug %}">
                                <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="img-fluid fixed-size-image" style="width: 100%; height: 250px;" />
                            </a>
                        </div>
                        <div class="price-w3ls-bottom p-4">
                            <h4 class="my-2"><a href="{% url 'hotel:hotel_detail' slug=hotel.slug %}" target="_blank">{{ hotel.name }}</a></h4>
                            <div class="lm-item-price">
                                <h6>
                                    <!-- <span class="price-top-head">$</span> -->
                                    <span class="price-midd-head">$ {{ hotel.price }}</span>
                                    <span class="price-right-head">/ per day</span>
                                </h6>
                            </div>
                            <ul class="style-lists">
                                {% for facility in hotel.facilities.all|slice:"3" %}
                                    <li>{{ facility.name }}</li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'hotel:hotel_detail' slug=hotel.slug %}" target="_blank" class="btn button-style-2 mt-sm-5 mt-4">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- why -->
<div class="serives py-5" id="why">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-bl font-weight-bold">Why BookYourStay </h3>
        <p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">Choosing BookYourStay for your travel accommodations is not just a choice; it's a commitment to an unparalleled experience</p>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 ser-grid" >
                <span class="fa fa-cutlery"></span>
                <h4>Restaurant</h4>
                <p>Elevate your stay with a culinary journey; where every reservation is an invitation to savor exquisite moments at our distinguished restaurants..</p>
            </div>
            <div class="col-lg-3 col-md-6 ser-grid mt-md-0 mt-5" >
                <span class="fa fa-money"></span>
                <h4>Low Price</h4>
                <p>Savor affordability without compromising flavor – where budget meets taste, creating a delightful dining experience for every guest.</p>
            </div>
            <div class="col-lg-3 col-md-6 ser-grid mt-lg-0 mt-5" >
                <span class="fa fa-user-secret"></span>
                <h4>Secure Zone</h4>
                <p>Experience tranquility in our secure haven, where your comfort and safety take center stage, ensuring peace of mind throughout your stay.</p>
            </div>
            <div class="col-lg-3 col-md-6 ser-grid mt-lg-0 mt-5">
                <span class="fa fa-car"></span>
                <h4>Pick Up</h4>
                <p>Convenience at your fingertips — opt for our hassle-free pickup service, bringing the essence of hospitality directly to you.</p>
            </div>
        </div>
    </div>
</div>
<!-- why -->


<!-- services -->
<div class="serives-mobamu py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-wh font-weight-bold">Our Services</h3>
        <p class="sub-tittle text-center text-li mt-2 mb-sm-5 mb-4 pb-xl-3">Elevate your stay with our premium services designed to enhance your hotel booking experience.</p>
        <div class="row welcome-bottom text-center">
            <div class="col-lg-3 col-sm-6 px-2">
                <div class="welcome-grid py-5 px-4" style="background-color: #b5d1de; height: 400px;">
                    <img src="{% static 'images/wh4.jpg' %}" alt="" class="img-fluid">
                    <h4 class="mt-4 mb-3 text-bl">Easy Booking</h4>
                    <p>Seamless and convenient hotel reservations tailored to your preferences.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5 px-2">
                <div class="welcome-grid py-5 px-4" style="background-color: #b5d1de; height: 400px;">
                    <img src="{% static 'images/wh3.jpg' %}" alt="" class="img-fluid">
                    <h4 class="mt-4 mb-3 text-bl">Exclusive Offers</h4>
                    <p>Unlock special deals and discounts when you book directly through our platform.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 px-2" >
                <div class="welcome-grid py-5 px-4" style="background-color: #b5d1de; height: 400px;">
                    <img src="{% static 'images/wh2.jpg' %}" alt="" class="img-fluid">
                    <h4 class="mt-4 mb-3 text-bl">Personalized Service</h4>
                    <p>Tailor your stay with personalized services, ensuring a memorable experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 px-2">
                <div class="welcome-grid bg-wh py-5 px-4" style="background-color: #b5d1de; height: 400px;">
                    <img src="{% static 'images/wh1.jpg' %}" alt="" class="img-fluid">
                    <h4 class="mt-4 mb-3 text-bl">Secure Reservations</h4>
                    <p>Rest easy knowing your reservations are secured and your information is protected.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services -->

  <!-- reviews -->
  <section class="team-main-sec bg-li py-5" id="testi" style="background-color: #443937;">
      <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle text-center text-bl font-weight-bold" style="color: white;">Our Guests Love Us</h3>
            <p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">Each positive experience shared is a testament to our commitment to excellence and the unwavering dedication to creating memorable journeys. Your satisfaction is our inspiration, and your love is our greatest reward.</p>
            <div class="row text-center">
    
                {% for review in reviews %}
                <div class="col-lg-4 col-md-6 team-gd-info" >
                    <div class="team-gd">
                        
                        <div class="team-info" style="background-color: #b5d1de; border-radius: 10px;">
                            <div class="team-img mb-4">
                                {% if review.student.image %}
                                <img src="{{ review.student.image.url }}" alt="reviewer image" style="height: 100px; width: 100px;">
                                {% endif %}
                            </div>
                            <h3>{{ review.student.user.get_full_name }} <span class="sub-tittle-team">{{ review.student.country }}</span> </h3>
                            
                                {% for _ in review.rating %}
                                <span style="margin-left: 5px; color: rgb(159, 159, 55);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                      </svg>
                                </span>
                                {% endfor %}
                            
                            <p>{{ review.review }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
    
            </div>
        </div>
  </section>

  <!-- newsletter -->
	<div class="newsletter_w3w3pvt py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold">Subscribe Newsletter</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">Embark on a journey of discovery with our newsletter – where each word is a step into the extraordinary. Subscribe now and unlock a world of inspiration, where the beauty of each sentence is as captivating as the destinations we explore. Join us, and let the artistry of travel unfold in your inbox. Because in every line, there's an adventure waiting to be discovered.</p>
			<div class="newsletter">
				<form action="#" method="post">
					<div class="form-group mb-0 w-100">
						<input class="email" type="email" name="email" placeholder="Your email..." required="">
					</div>
					<button type="submit" class="btn">Subscribe</button>
				</form>
			</div>
		</div>
	</div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(() => {
            // Function to automatically switch carousel slides
            function autoSlide() {
                var currentSlide = $("input[name='slides']:checked");
                var nextSlide = currentSlide.closest('li').next('li').find("input[name='slides']");
                
                if (nextSlide.length === 0) {
                    nextSlide = $('input[name="slides"]:first');
                }
                
                currentSlide.prop("checked", false);
                nextSlide.prop("checked", true);
            }
    
            // Set interval for automatic sliding
            setInterval(autoSlide, 8000);
    
            // Trigger the first slide manually (optional)
            autoSlide();
        });
    </script>
    
{% endblock %}